<mat-card class="card-home mat-elevation-z3">
    <mat-card-title class="card-title">
        Filmes
    </mat-card-title>

    <form [formGroup]="createForm" (ngSubmit)="createMovie()">
        <mat-form-field appearance="fill">
            <input matInput placeholder="Título do filme" formControlName="title" [(ngModel)]="movie.title">
           <!-- <mat-error *ngIf="createForm.get('title').errors && createForm.get('title').hasError('required')">
                O Campo <strong>Título</strong> é obrigatorio! 
            </mat-error>
            <mat-error *ngIf="createForm.get('title').hasError('minength')">
                O Campo <strong>Título</strong> deve ser maior que 4 caracteres 
            </mat-error>-->
        </mat-form-field>    

        <mat-form-field appearance="fill">
            <input matInput placeholder="Diretor(es) do filme" formControlName="director" [(ngModel)]="movie.director">
        </mat-form-field>    
   
        <mat-form-field appearance="fill">        
            <input matInput placeholder="Genero do filme" formControlName="genres" [(ngModel)]="movie.genres">
        </mat-form-field>

        <mat-form-field appearance="fill">        
            <input matInput placeholder="Ano do filme" formControlName="year" [(ngModel)]="movie.year">
        </mat-form-field>

        <!--
        <mat-form-field appearance="fill">
            <mat-label>Ano do filme</mat-label>
            <mat-select [(ngModel)]="movie.year">
              <mat-option *ngFor="let y of years" [value]="y">{{y}}</mat-option> #Ultimos 10 anos
            </mat-select>            
        </mat-form-field>
        -->

        <div class="btn_add_movies">
            <button mat-flat-button color="primary" type="submit">Salvar</button>
            <button mat-flat-button color="warn" (click)="cancel()">Cancelar</button>
        </div>    
    </form>
</mat-card>