<table mat-table [dataSource]="movies" class="table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Director -->
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Diretor(res) </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>
  
    <!-- Symbol Genres -->
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef> Genêro </th>
      <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
    </ng-container>

    <!-- Symbol Year -->
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let movie">

            <a routerLink="/movies/update/{{movie.id}}" class="action edit">
                <i class="material-icons">edit</i>
            </a>
            <a routerLink="/movies/delete/{{movie.id}}" class="action delete">
                <i class="material-icons">delete</i>
            </a>
        </td>
    </ng-container>  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  